body{
    margin: 0; 
    font-family: 'Montserrat', sans-serif;   
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border-style: none;       
}

.button-none{
    display: none;
}

/** LIGTH MODE **/

.ligth-mode{
    background-color: #E0E6FF;
    color: black;
}

.ligth-mode nav{
    background: linear-gradient(to bottom, #9d90c9, #E0E6FF);      
}

.ligth-mode .button-contact-me{
    background-color: #660066;
    color: white;
     
}

.ligth-mode .button-contact-me:hover{
    background-color: #003366;
    color: aliceblue;
}

.ligth-mode .list-nav a{
    color: black;
}

/** DARK MODE **/

.dark-mode{
    background-color: black;
    color: white;
}

/** NAV **/

.button-dark-mode{
    border: none;
    background-color: transparent;
    display: flex;
}

.button-fa-sun, .button-fa-moon{
    border-radius: 30px;
    border: 1px solid white;
    padding: 15px; 
    margin: 5px; 
    background-color: white; 
}

.fa-sun, .fa-moon{
    font-size: 23px;
    color: white; 
}

.button-fa-moon{
    background-color: #003366;
}

.button-fa-sun{
    background-color: rgb(255, 178, 11);    
}

.list-nav{
    display: flex;  
    align-items: center; 
}

.list-nav li{
    margin-right: 40px;  
}

.list-nav a{
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.button-fa-moon:hover{
    background-color: #660066;
}

.button-fa-sun:hover{
    background-color: orange;
}


nav{
    width: 100%;
    display: flex;
    justify-content: space-between;     
    padding: 15px;
    position: fixed;
    top: 0;
}

.button-contact-me{
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 10px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

/** HEADER **/

header{
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 200px;
}

.section-header{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-header h1{
    font-size: 60px;
    margin: 0;
    font-weight: 800;
}

.container-image-header{
    display: flex;
    width: 50%;
}

.container-image-header img{
    display: flex;
    width: 75%;
}


