body{
    margin: 0; 
    font-family: 'Montserrat', sans-serif;   
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border-style: none;       
}

.button-none{
    display: none;
}

/** LIGTH MODE **/

.ligth-mode{
    background-color: #E0E6FF;
    color: black;
}

.ligth-mode nav{
    background: linear-gradient(to bottom, #9d90c9, #E0E6FF);      
}

.ligth-mode .button-contact-me{
    background-color: #660066;
    color: white;     
}

.ligth-mode .button-contact-me:hover{
    background-color: #003366;
    color: aliceblue;
}

.ligth-mode .list-nav a{
    color: black;
}

.ligth-mode .container-skills{
    background-color:  #c8bee9;
}

.ligth-mode .card{
    border: 1px solid gray;
}

.ligth-mode .card:hover{
    color: #660066;
    border: 1px solid #660066;
}



/** DARK MODE **/

.dark-mode{
    background-color: black;
    color: white;
}

/** NAV **/

.button-dark-mode{
    border: none;
    background-color: transparent;
    display: flex;
}

.button-fa-sun, .button-fa-moon{
    border-radius: 30px;
    border: 1px solid white;
    padding: 15px; 
    margin: 5px; 
    background-color: white; 
}

.fa-sun, .fa-moon{
    font-size: 23px;
    color: white; 
}

.button-fa-moon{
    background-color: #003366;
}

.button-fa-sun{
    background-color: rgb(255, 178, 11);    
}

.list-nav{
    display: flex;  
    align-items: center; 
}

.list-nav li{
    margin-right: 40px;  
}

.list-nav a{
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.button-fa-moon:hover{
    background-color: #660066;
}

.button-fa-sun:hover{
    background-color: orange;
}


nav{
    width: 100%;
    display: flex;
    justify-content: space-between;     
    padding: 15px;
    position: fixed;
    top: 0;
}

.button-contact-me{
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 10px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

/** HEADER **/

header{
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.section-header{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;    
}

.section-header h2{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    margin: 0;
}

.section-header h1{
    font-size: 75px;
    margin: 0;
    font-weight: 800;
    font-family: 'Lobster', cursive;
}

.section-header h4{
    font-weight: 400;
    font-size: 22px;
}

.container-image-header{
    display: flex;
    width: 50%;
}

.container-image-header img{
    display: flex;
    width: 75%;
}

/** CONTAINER MIS CONOCIMIENTOS **/

.container-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-skills section{
    display: flex;
    width: 60%;
    flex-direction: column;
    text-align: center;
}

.container-skills section h2{
    font-family: 'Lobster', cursive; 
    font-size: 50px;   
    margin-top: 60px;
}

.container-skills section h3{
    font-weight: 500;
    font-size: 25px;
    margin: 0;
}

.skills-cards{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    margin: 100px;
}

.card{
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.card span{
    font-size: 20px;
    margin: 5px;
}

.icon-card{
    font-size: 90px;
}








